@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 33% 97%;
    --foreground: 224 71.4% 4.1%;

    --card: 120 33% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 120 33% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 139 82% 37%;
    --primary-foreground: 139 82% 98%;

    --secondary: 120 10% 92%;
    --secondary-foreground: 224 71.4% 4.1%;

    --muted: 120 10% 92%;
    --muted-foreground: 222.2 47.4% 11.2% / 0.5;

    --accent: 81 78% 62%;
    --accent-foreground: 224 71.4% 4.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 10% 88%;
    --input: 120 10% 88%;
    --ring: 139 82% 37%;

    --radius: 0.5rem;

    --chart-1: 139 70% 50%;
    --chart-2: 81 70% 50%;
    --chart-3: 120 70% 50%;
    --chart-4: 150 70% 50%;
    --chart-5: 180 70% 50%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 120 33% 97%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 120 33% 97%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 120 33% 97%;

    --primary: 139 82% 37%;
    --primary-foreground: 139 82% 98%;

    --secondary: 220 13% 18%;
    --secondary-foreground: 120 33% 97%;

    --muted: 220 13% 18%;
    --muted-foreground: 220 9% 61%;

    --accent: 81 78% 62%;
    --accent-foreground: 224 71.4% 4.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 139 82% 47%;
    
    --chart-1: 139 70% 50%;
    --chart-2: 81 70% 50%;
    --chart-3: 120 70% 50%;
    --chart-4: 150 70% 50%;
    --chart-5: 180 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
